@using CS353.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Users</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Password</th>
        <th>Preference List</th>        
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td id="ID">@i.u_id</td>
            <td>@i.u_name</td>
            <td>@i.u_surname</td>
            <td>@i.u_email</td>
            <td>@i.u_password</td>
            <td>@i.u_preferenceList</td>
            <td><a href="/User/DeleteUser/@i.u_id" class="btn btn-danger">Delete</a></td>
            <td><a href="/User/FindUser/@i.u_id" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new { pageNumber }))
<a href="/User/AddUser/" class="btn btn-primary">Add User</a>