@using CS353.Models.Entity
@model List<TBLMovie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Movies</h2>

@using (Html.BeginForm("Index", "Movie", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
        <b>Seach For Movie </b>@Html.TextBox("p")
        <input type="submit" value="Search" />
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Duration</th>
        <th>IMDB Point</th>
        <th>Info</th>
        <th>Video Link</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var i in Model)
    {
<tr>
    <td>@i.m_id</td>
    <td>@i.m_name</td>
    <th>@i.TBLGenre.g_name</th>
    <th>@i.m_duration min</th>
    <th>@i.m_imdbPoint /10</th>
    <th>@i.m_info</th>
    <th></th>
    <td><a href="/Movie/DeleteMovie/@i.m_id" class="btn btn-danger">Delete</a></td>
    <td><a href="/Movie/FindMovie/@i.m_id" class="btn btn-success">Update</a></td>
</tr>
    }
</table>
<a href="/Movie/AddMovie/" class="btn btn-primary">Add Movie </a>
